*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    height: 600px;
    
}


.logo{
    background-color: blue;
    width: 25%;
    
}

.centro{
    background-color: red;
    width: 40%;

}

.login{
    background-color: yellow;
    width: 25%;

}
.flex-container{
 display: flex;
 justify-content: space-between;
 height: 70px;
 gap: 30px;
 
 }

 nav ul li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
 }

 nav ul{
    display: flex;
 }

 .Scritta1{
  background-color: violet;
  width: 40%;
  height: 300px;
  margin: 50px auto;
  border: 2px solid red;
 }

 .pulsanti
    background-color: cadetblue;
    width: 200px;
 }

 .containerPulsante1{
    background-color: chocolate;
 }

 .containerPulsante{
    background-color: blue;
 }
 .flex-container2{
    display: flex;

    height: 40px;
    width: 100px;
}

.pulsante1{
    background-color: brown;
}

.pulsante2{
    background-color: tomato;
}



.pulsant{
    display: flex;
    justify-items: center;
    gap: 20px;
    }

