*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    height: 300px;
    
}


.logo{
    background-color: blue;
    width: 30%;
}

.centro{
    background-color: red;
    width: 40%;

}

.login{
    background-color: yellow;
    width: 30%;

}
.flex-container{
 display: flex;
 justify-content: space-between;
 height: 40px;
 
 }

 nav ul li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
 }

 nav ul{
    display: flex;
 }

 .flex-container2{
    max-width: 300px;
    max-height: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
 }
