*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    height: 600px;
    border: 2px solid red;
    
}


.logo{
    background-color: blue;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro{
    background-color: red;
    width:400px;

}

.login{
    background-color: yellow;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex-container{
 display: flex;
 justify-content: space-around;
 height: 70px;
 gap: 30px;
 
 }

 nav ul li{
    list-style-type: none;
 }

 nav ul{
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .Scritta1{
  background-color: violet;
  width: 40%;
  height: 300px;
  margin: 50px auto;
  border: 2px solid red;
 }
 
 .flex-container2{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100px;
   } 

.pulsante1{
    background-color: brown;
}

.pulsante2{
    background-color: tomato;
}

.containerIMGeTXT{
    background-color: rgba(0, 255, 255, 0.293);
    height: 400px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerIMG{
    background-color: indigo;
    height: 300px;
    width: 400px;
    
}
.containerTXT{
    background-color: blue;
    height: 300px;
    width: 400px;
}

.containerIMGeTXT2{
    background-color: rgba(0, 255, 255, 0.293);
    height: 400px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.containerIMG2{
    background-color: indigo;
    height: 300px;
    width: 400px;
    
}
.containerTXT2{
    background-color: blue;
    height: 300px;
    width: 400px;
}

.containerIMGeTXT3{
    background-color: rgba(0, 255, 255, 0.293);
    height: 400px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerIMG3{
    background-color: indigo;
    height: 300px;
    width: 400px;
    
}
.containerTXT3{
    background-color: blue;
    height: 300px;
    width: 400px;
}


.img1{
    background-color: violet;
    width: 40%;
    height: 300px;
    margin: 50px auto;
    border: 2px solid red;
   }